<%- include ('partials/head') %>

<body>
    <%- include ('partials/navbar') %>
    <div class="container">
        <div class="categoria">
            <h1>Saúde</h1>
            <img src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="" class="cover-image">
                <p>Produtos que auxiliam no sono, nos momentos de estresse e no desempenho sexual, acreditamos que uma vida excepcional começa na saúde.</p>
            <button type="button" class="btn btn-lg btn-info"><a href="../public/downloads/omnilife.pdf" download>Baixar Catálogo</a></button>
        </div>

    </div>

</body>

</html>